body {
  background-color: #282931;
  width: 650px;
  font-family: 'Roboto Slab', serif;
}
.child1 {
  color: red;
}
.child2 {
  float: right;
  color: #fc3565;
  color: blanchedalmond;
  
}
h1{
  line-height: 72px;
  margin: 24px 0;
  color:White;
  font-size: 48px;
  font-family: 'Roboto Slab', serif;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
}
p {
  line-height: 30px;
  margin: 24px 0;
  color:#bbbbc4;
  font-size: 20px;
}
.parent {
     position: relative;
     left: 350px;
}
.paragraph1 {
  font-family: 'Varela Round', sans-serif;
}
.paragraph2 {
  font-family: 'Muli', sans-serif;
}
h2 {
  line-height: 72px;
  margin: 24px 0;
  color:White;
  font-size: 48px;
  font-family: 'Roboto Slab', serif;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
}
