@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Hind+Madurai&family=League+Gothic&family=Pacifico&family=Poppins:ital,wght@1,300&family=Rubik:wght@300&family=Secular+One&family=Ubuntu:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}
::selection {
  background-color: cyan;
  color: black;
}

/* header */

.hero-container {
  padding-top: 30px;
  background-image: url("images/banner.jpg");
}
.container {
  width: 1200px;
  margin: 0 auto;
}
header, .lu {
  display: flex;
  
  margin-bottom: 35px;
}
.nav {
  display: block;
  margin: 15px;
  font-size: 22px;
  text-decoration: none;
  text-transform: capitalize;
  transition: .50s;
  color: white;
}
.nav:nth-child(7n) {
  transform: rotate(180deg);
}
.nav:hover {
  color: #51fe44;
}
li {
  list-style: none;
}
.logo1 {
  width: 90px;
  height: 90px;
}
.nav:active {
  color: #51fe44;
}
.input {
  display: none;
}
label {
  color: #0087cc;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 5px 9px;
  transition: all .75s ease;
}
label:hover {
  color: #ff7b29;
}
input:checked + label {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #9799a7;
}
nav {
  max-height: 0;
  overflow: hidden;
  transition: all .75s ease-in-out;
}
input:checked ~ nav {
  max-height: 500px;
}
.ul {
  list-style: none;
  margin: 8px 0 0 0;
  display: block;
  position: static;
  z-index: 1;
}
.ul li {
  border-bottom: 1px solid #cecfd5;
  background: #48ca95;
}
nav a {
  color: black;
  display: block;
  padding: 0px 12px;
  text-decoration: none;
  font-size: 18px;
}
a:hover {
  color: #ff7b29;
}
/* first section */

.flex2 {
  display: flex;
}
.sec-1 {
  color: white;
  height: 80vh;
}
.pc {
  width: 630px;
}
.hero {
  font-size: 40px;
  margin: 10px;
  text-transform: capitalize;
}
.hero2 {
  font-size: 70px;
  text-transform: capitalize;
  margin: 20px;
}
.btn-1 {
  height: 60px;
  width: 200px;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  transition: 1s;
  margin-top: 50px;
}
.btn-1:hover {
  background-color: #75e6a8;
}
.subject {
  font-size: 40px;
  text-transform: uppercase;
}
.ab-flex {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  line-height: 22px;
}
.laptop {
  background-color: whitesmoke;
}
.ab-flex2 {
  display: flex;
  justify-content: space-between;
  line-height: 22px;
  text-align: right;
  padding: 50px;
  box-sizing: border-box;
}
.laptop-img {
  width: 700px;
}
/* second section */
.sec-2 .container {
  display: flex;
  justify-content: space-around;
  text-transform: capitalize;
}
.sec-2 p {
  font-size: 20px;
}
.info {
  width: 300px;
  text-align: center;
  padding: 50px 10px 20px 10px;
  border: 1px solid #48ca95;
  border-radius: 10px;
}

/* third section */
.sec-3 {
  background-color: whitesmoke;
  text-align: center;
}
.sec-3 h2 {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 50px;
  letter-spacing: 2px;
}
.sec-3 .container {
  background-color: white;
  padding: 50px 0 80px 0;
}
code {
  border-bottom: 2px solid #48ca95;
}
.flex1 {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}
.sec-3 figcaption {
  width: 200px;
  padding: 10px;
  background-color: black;
  color: white;
  text-transform: capitalize;
  font-size: 22px;
  transition: 1s;
}
.sec-3 figcaption:hover {
  background-color: #75e6a8;
}
.btn-2 {
  background-color: transparent;
  border: 2px solid #75e6a8;
  color: #75e6a8;
  font-size: 20px;
  padding: 20px 90px;
  margin-top: 50px;
  text-transform: capitalize;
  transition: 1s;
}
.btn-2:hover {
 background-color: #75e6a8;
 color: black;
 cursor: pointer;
}
/* fourth section */
.sec-4 {
  background-color: #4f4aa6;
  padding: 50px;
  color: white;
}
.sec-4 h2 {
  font-size: 40px;
  margin: 30px 0;
}
.sec-4 h2:nth-child(2n) {
  font-size: 70px;
}
.sec-4 .container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.btn-3 {
  padding: 14px 45px;
  font-size: 16px;
  background-color: #48ca95;
  border: 1px solid transparent;
  color: white;
  transition: 1s;
}
.btn-3:hover {
  background-color: black;
}
/* fifth section */
.sec-5 h1{
  text-align: center;
  font-size: 35px;
  text-decoration: underline;
  text-transform: uppercase;
}
.sec-5 .container {
  width: 850px;
  margin-left: 450px;
  padding-bottom: 100px;
}
.sec-5 p {
  font-size: 20px;
  width: 750px;
  margin-top: 50px;
  letter-spacing: .5px;
}
/* sixth section */
.foot {
  background-image: url(images/contact_g.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.sec-6 {
  padding: 60px 0px 30px 0px;
}
.sec-6 h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
}
.contact {
  width: 800px;
  border: 2px solid white;
  margin: 50px auto;
  padding: 60px 40px;
}
.sub {
  display: block;
  margin-bottom: 20px;
  width: 95%;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 15px;
  font-size: 20px;
}
.sec-6 ::placeholder {
  color: white;
}
.t-area {
  padding-top: 50px;
  max-width: 95%;
  margin-bottom: 50px;
}
.send {
  height: 80px;
  width: 250px;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 280px;
  border-radius: 50px;
  border: 1px solid transparent;
  background-color: #48ca95;
  color: white;
  transition: 1s;
  cursor: pointer;
}
.send:hover {
  background-color: black;
}
/* footer */
footer {
  padding-top: 50px;
  background-image: url(images/footer.jpg);
  opacity: 0.8;
  color: white;
  padding-bottom: 10px;

}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer img {
  margin-bottom: 30px;
}
.fa {
  display: inline-block;
  padding: 12px 14px;
  background-color: #fff;
  font-size: 20px;
  color: black;
  border-radius: 50%;
  text-decoration: none;
  margin: 5px;
  transition: .75s;
}
.fa:hover {
  background-color: #48ca95;
  color: #fff;
}
.fa-facebook {
  padding: 12px 17px;
}
.fa-twitter {
  padding: 12px 13px;
}
.div {
  margin: 10px;
}
.div1 {
  width: 250px;
}
.div2 {
  width: 200px;
  line-height: 25px;
  margin-top: 15px;
}
.div3 p {
  width: 100px;
  line-height: 25px;
}
.email {
  display: block;
  padding: 10px;
  font-size: 16px;
  width: 180px;
  border: 1px solid white;
  border-radius: 10px;
}
.sub2 {
  margin-top: 20px;
  padding: 10px 30px;
  background-color: #48ca95;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  transition: 1s;
}
.sub2:hover {
  background-color: black;
}
.h3 {
  text-align: center;
  text-transform: capitalize;
}
hr {
  width: 70vw;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .container {
    width: 850px;
  }
  .nav {
    margin: 8px;
  font-size: 15px;
  }
  .hero {
    font-size: 30px;
  }
  .hero2 {
    font-size: 40px;
  }
  .btn-1 {
    height: 50px;
    width: 150px;
    font-size: 18px;
    margin-top: 50px;
  }
  .pc {
    width: 400px;
  }
  .info {
    width: 230px;
    padding: 40px 10px 20px 10px;
  }
  .sec-2 p {
    font-size: 15px;
  }
  .sec-3 figcaption {
    width: 180px;
    padding: 8px;
    font-size: 18px;
  }
  .sec-3 img {
    width: 200px;
  }
  .sec-4 img {
    width: 350px;
    margin-top: 50px;
  }
  .sec-4 h2 {
    font-size: 35px;
  }
  .sec-4 h2:nth-child(2n) {
    font-size: 30px;
  }
  .sec-4 {
    padding: 20px 10px 60px 0;
  }
  .sec-5 .container {
    margin-left: 200px;
  }
  .sec-6 {
    padding: 40px 0px 20px 0px;
  }
  .contact {
    width: 600px;
    margin: 40px auto;
    padding: 40px 30px;
  }
  .send {
    margin-left: 180px;
  }
  .div1 {
    width: 255px;
  }
  .fa {
    padding: 13px 14px;
    font-size: 20px;
    margin: 5px;
    transition: .75s;
  }
    .fa-facebook {
    padding: 13px 17px;
    }            
    .fa-twitter {
      padding: 13px 13px;
    }                     
  .subject {
    font-size: 30px;
    font-weight: bolder;
  }
  .ab-flex p {
    font-size: 16px;
  }
  .ab-flex img {
    width: 400px;
  }
  .laptop {
    padding: 100px 20px;
  }
  .laptop-img {
    width: 500px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 700px;
  }
  .nav {
    margin: 5px;
  font-size: 12px;
  }
  .lu {
    width: 550px;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .hero {
    font-size: 25px;
  }
  .hero2 {
    font-size: 40px;
  }
  .btn-1 {
    height: 50px;
    width: 120px;
    font-size: 18px;
    margin-top: 50px;
  }
  .pc {
    width: 300px;
  }
  .info {
    width: 180px;
    padding: 30px 10px 20px 10px;
  }
  .sec-2 p {
    font-size: 15px;
  }
  .info-img {
    width: 150px;
  }
  .sec-3 figcaption {
    width: 120px;
    padding: 8px;
    font-size: 16px;
  }
  .sec-3 img {
    width: 150px;
  }
  .sec-4 img {
    width: 280px;
    margin-top: 40px;
  }
  .sec-4 h2 {
    font-size: 30px;
  }
  .sec-4 h2:nth-child(2n) {
    font-size: 45px;
  }
  .sec-5 .container {
    width: 600px;
    margin: auto;
  }
  .sec-5 p {
    width: 550px;
  }
  .sec-6 {
    padding: 40px 0px 20px 0px;
  }
  .contact {
    width: 500px;
    margin: 40px auto;
    padding: 40px 30px;
  }
  .send {
    margin-left: 130px;
  }       
  footer .container {
    display: flex;
    flex-wrap: wrap;
  }
  .div {
    width: 45%;
  }
  .email {
    width: 200px;
  }
  hr {
    width: 90vw;
    font-size: .1px;
  }
  .h3 {
    font-size: 20px;
  }
  .ab-flex {
    display: block;
    width: 600px;
  }
  .subject {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bolder;
  }
  .ab-flex img {
    width: 500px;
    display: block;
    margin-top: 30px;
  }
  .laptop {
    padding: 100px 50px;
  }
  .laptop-img {
    width: 350px;
  }
}
@media (max-width: 550px) {
  header {
    display: inline-block;
  }
  .ul {
    width: 80vw;
  }
  .lu {
    display: none;
  }
  .menu {
    position: absolute;
    left: 80vw;
    top: 60px;
  }
  .container {
    width: 80vw;
  }
  .flex2 {
    display: block;
  }
  .pc {
    width: 70vw;
    margin: 30px auto;
  }
  .sec-2 .container {
    display: block;
    padding: 40px 0;
  }
  .info {
    width: 75vw;
    padding: 30px 10px 20px 10px;
    margin: 20px auto;
  }
  .sec-2 p {
    font-size: 15px;
  }
  .info-img {
    width: 40vw;
  }
  .flex1 {
    display: block;
  }
  .sec-3 figcaption {
    width: 200px;
    padding: 10px;
    font-size: 20px;
    margin: 10px auto;
  }
  .sec-3 img {
    width: 55vw;
  }
  .btn-2 {
    width: 45vw;
    padding: 20px 0;
    border-radius: 5px;
  }
  .sec-4 img {
    width: 70vw;
    margin-top: 40px;
  }
  .sec-4 .container {
    display: block;
  }
  .sec-4 h2 {
    font-size: 25px;
  }
  .sec-4 h2:nth-child(2n) {
    font-size: 60px;
  }
  .sec-5 .container {
    width: 80vw;
    margin: auto;
  }
  .sec-5 p {
    width: 300px;
  }
  .sec-6 {
    padding: 20px 0px 10px 0px;
  }
  .contact {
    max-width: 80vw;
    margin: 40px auto;
    padding: 40px 30px;
    box-sizing: border-box;
  }
  .sub {
    width: 55vw;
  }
  .send {
    margin-left: 10vw;
    padding: 10px 20px;
    width: 180px;
  }
  .div {
    width: 95%;
    margin: 10px 0px;
  }
  .email {
    width: 80vw;
  }
  hr {
    width: 90vw;
  }
  .h3 {
    font-size: 20px;
  }
  .ab-flex {
    width: 400px;
  }
  .ab-flex img {
    width: 280px;
  }
  .ab-flex2 {
    display: block;
  }
  .laptop {
    padding: 100px 50px;
  }
  .laptop-img {
    width: 400px;
    display: block;
    margin: 10px auto;
  }
}
@media (min-width: 550px) {
  .menu {
    display: none;
  }
}
