.img-container{
  height: 700px;
 
}
img {
  height: 700px;
  width: 700px;
}
.heading {
  font-size: 70px;
  font-family: 'League Gothic', sans-serif; 
}
span {
  text-transform: capitalize;
}
h1 {
  margin-top: 100px;
 
}
h2 {
  font-size: 40px;
  font-family: 'League Gothic', sans-serif; 
}
.main-container {
  display: flex;
}
.form-container {
  margin-left: 30px;
}
.link {
  padding-top: 10px;
  width: 280px;
  text-align: center;
  height: 25px;
  border: 1px solid black;
  border-radius: 20px;
  text-transform: capitalize;
}
.ac1,.ac2,.ac3 {
  font-size: 16px;
  color: black;
  text-decoration: none;
}
.a1:hover {
  background-color: rgb(205, 234, 241);
}
.a2:hover {
  background-color: rgb(175, 179, 180);
}
.a3 {
  background-color: rgb(3, 158, 240);
  margin: 15px 0px 5px 0px;
}
.a3:hover {
  background-color: rgb(21, 55, 207);
}
.a4{
  color: aliceblue;
 }
.a1,.a2 {
  margin-bottom: 15px;
}
.mini {
  width: 280px;
  text-align: center;
}
.terms {
  font-family: 'League Gothic', sans-serif; 
  font-size: 10px;
  margin-bottom: 40px;
}
.ac4 {
  text-decoration: none;
}
.ac5 {
  font-size: 20px;
  font-family: 'League Gothic', sans-serif; 
  margin-bottom: 10px;
}
.ac6 {
  color: rgb(3, 158, 240);
  text-decoration: none;
}
.a4:hover {
  background-color: rgb(212, 219, 224);
}
.nav-container {
  text-align: center;
}
.nav1,.div1 {
  text-decoration: none;
  color: gray;
  font-family: 'Times New Roman', Times, serif;
}
.nav2 {
  display: inline;
  margin: 5px;
}