body{
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
}
.profile-card{
  padding: 10px;
  border: 1px solid black;
  box-shadow: 1px 2px 6px black;
  width: 200px;
  height: 300px;
  overflow: hidden;
  background-color: #264653;
}
.profile-img{
  width: 80px;
  height: 100px;
  border-radius: 5px;
}
.profile-intro{
  font-size: 12px;
}